<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title><%= (@item[:title].nil? || @item[:title].empty?) ? config[:site_name] : @item[:title] %></title>

    <meta name="author" content="<%= config[:author_name] %>" />
    <meta name="generator" content="Nanoc <%= Nanoc::VERSION %>">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://feeds.feedburner.com/ukaza-perdana" rel="alternate" title="<%= config[:site_name] %>" type="application/atom+xml">

    <link rel="icon" href="https://avatars3.githubusercontent.com/u/6721248?s=32&v=4"><!-- 32×32 -->
    <link rel="apple-touch-icon" href="https://avatars3.githubusercontent.com/u/6721248?s=180&v=4"><!-- 180×180 -->
    <link rel="manifest" href="/manifest.webmanifest">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">
    <link rel="stylesheet" href="<%= fingerprinted_name("/styles.css") %>">

    <script type="module">
      import hotwiredTurbo from 'https://cdn.skypack.dev/@hotwired/turbo';
    </script>
  </head>

  <body>
    <div class="container">
      <nav class="row">
        <div class="column">
          <a class="nav-item downcase site-name" href="/"><%= config[:site_name] %></a>
          <a class="nav-item downcase" href="/">Home</a>
          <a class="nav-item downcase" href="/articles/about">About</a>
          <a class="nav-item" href="https://feeds.feedburner.com/ukaza-perdana"><img src="/rss.svg" class="rss-icon" alt="Subscribe to RSS Feed" /></a>
        </div>
      </nav>

      <main class="row">
        <% if @item[:kind] == 'article' %>
          <article class="column">
            <header>
              <h1><%= @item[:title] %></h1>
              <p class="meta"><%= "#{format_date(@item[:created_at])} - #{@item[:location]}" %> <a href="https://github.com/ukazap/blog/edit/main/content<%= @item.identifier %>" title="Suggest an edit">🖊️</a></p>
            </header>

            <%= yield %>

            <script src="https://utteranc.es/client.js" repo="ukazap/blog" issue-term="pathname" theme="boxy-light" crossorigin="anonymous" async>
            </script>
          </article>
        <% else %>
          <article class="column">
            <%= yield %>
          </article>
        <% end %>
      </main>

      <footer class="row">
        <div class="column">
          <%= config[:author_name] %><br />
          Lead Engineer at <a href="https://melalie.com">Melalie</a> x <a href="https://itsavirus.com">Itsavirus</a><br />
          <a href="mailto:ukaza@hey.com">ukaza@hey.com</a><br /><br />
          <a href="https://keybase.io/ukazap">keybase.io/ukazap</a><br />
          <a href="https://github.com/ukazap">github.com/ukazap</a><br />
          <a href="https://linkedin.com/in/ukazap">linkedin.com/in/ukazap</a><br />
          <a href="https://twitter.com/ukazap">twitter.com/ukazap</a>
        </div>
      </footer>
    </div>
  </body>
</html>
