<!DOCTYPE html>
<html lang="en">
  <head>
    <%-
      title = (@item[:title].nil? || @item[:title].empty?) ? config[:site_name] : @item[:title]
      thumbnail_id = @item[:thumbnail] || "qKkwIljWVww"
      thumbnail_url = "https://source.unsplash.com/#{thumbnail_id}/1280x720"
    %>
    <meta charset="utf-8">
    <title><%= title %></title>

    <meta name="author" content="<%= config[:author_name] %>" />
    <meta name="generator" content="Nanoc <%= Nanoc::VERSION %>">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:site_name" content="<%= config[:site_name] %>">
    <meta property="og:title" content="<%= title %>">
    <meta property="og:description" content="<%= @item[:description] %>">
    <meta property="og:url" content="<%= "#{config[:base_url]}#{@item.identifier.without_ext}" %>">


    <meta property="og:image" content="<%= thumbnail_url %>">
    <meta name="twitter:card" content="<%= thumbnail_url %>">

    <link href="https://feeds.feedburner.com/ukaza-perdana" rel="alternate" title="<%= config[:site_name] %>" type="application/atom+xml">

    <link rel="icon" href="https://avatars3.githubusercontent.com/u/6721248?s=32&v=4"><!-- 32×32 -->
    <link rel="apple-touch-icon" href="https://avatars3.githubusercontent.com/u/6721248?s=180&v=4"><!-- 180×180 -->
    <link rel="manifest" href="/manifest.webmanifest">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">
    <link rel="stylesheet" href="<%= @items["/styles.css"].path %>">

    <script type="module">
      import hotwiredTurbo from 'https://cdn.skypack.dev/@hotwired/turbo';
    </script>
  </head>

  <body>
    <div class="container">
      <nav>
        <div class="nav-item site-name">
          <a class="upcase" href="/"><%= config[:site_name] %></a>
        </div>
        <div class="nav-item">
          <a class="upcase" href="/">Home</a>
        </div>
        <div class="nav-item">
          <a class="upcase" href="https://github.com/ukazap">Projects</a>
        </div>
        <div class="nav-item">
          <a class="upcase" href="/articles/about">About</a>
        </div>
        <a class="nav-item rss" href="https://feeds.feedburner.com/ukaza-perdana">
          <img src="/rss.svg" class="rss-icon" alt="Subscribe to RSS Feed" />
        </a>
      </nav>

      <main class="row">
        <% if @item[:kind] == 'article' %>
          <article class="column">
            <header>
              <h1><%= @item[:title] %></h1>
              <p class="meta"><%= "#{format_date(@item[:created_at])}" %> - <a href="https://www.google.com/maps/search/<%= @item[:location].gsub(/\s/, "+") %>"><%= @item[:location] %></a> <a href="https://github.com/ukazap/blog/edit/main/content<%= @item.identifier %>" title="Suggest an edit">🖊️</a></p>
              <p><a href="https://unsplash.com/photos/<%= thumbnail_id %>"><img src="<%= thumbnail_url %>"></a></p>
            </header>

            <%= yield %>

            <script src="https://utteranc.es/client.js" repo="ukazap/blog" issue-term="pathname" theme="boxy-light" crossorigin="anonymous" async>
            </script>
          </article>
        <% else %>
          <article class="column">
            <%= yield %>
          </article>
        <% end %>
      </main>

      <footer>
        <%= config[:author_name] %><br />
        Lead Engineer at <a href="https://melalie.com">Melalie</a> x <a href="https://itsavirus.com">Itsavirus</a><br />
        <a href="mailto:ukaza@hey.com">ukaza@hey.com</a><br /><br />
        <a href="https://keybase.io/ukazap">keybase.io/ukazap</a><br />
        <a href="https://github.com/ukazap">github.com/ukazap</a><br />
        <a href="https://linkedin.com/in/ukazap">linkedin.com/in/ukazap</a><br />
        <a href="https://twitter.com/ukazap">twitter.com/ukazap</a>
      </footer>
    </div>
  </body>
</html>
